{% extends "model-page.html" %}
{% block content %}
    <div>
        <h2>Gerenciamento de Tarefas</h2>

        <div>
            <h3>Bem-vindo ao Sistema de Gestão de Tarefas</h3>

            <div>
                <h4>Ações rápidas</h4>
                <a href="/usuario/">
                    <button>Cadastro de Usuários</button>
                </a>
                <a href="/tarefa/">
                    <button>Cadastro de Tarefas</button>
                </a>
                <a href="/gerenciar/">
                    <button>Gerenciar Tarefas</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}